NODE_ENV=development
PORT=3000

# PostgreSQL — Supabase (dev) o Render (prod)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=inventory_db
DB_USER=postgres
DB_PASSWORD=tu_password
DB_URL=postgresql://postgres:tu_password@localhost:5432/inventory_db

# JWT
JWT_SECRET=cambia_esto_por_algo_largo_y_seguro
JWT_EXPIRES_IN=7d